<div class="page">
    <div class="left">
        <img src="assets/img/tree3.jpg">
    </div>
    <div class="right">
        <div class="text">
            <p>Đăng nhập</p>
            <p style="font-size:1rem; color: rgb(137, 137, 137);"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                corporis</p>
        </div>
        <div class="input">
            <input type="text" placeholder="Tên đăng nhập">
            <input type="text" placeholder="Mật khẩu">

        </div>
        <div class="button">
            <div class="button_text">
                <input type="checkbox" checked>ghi nhớ mật khẩu
                <a href="">đăng ký tài khoản tại đây!</a>
            </div>
            <div class="">
                <button>Đăng Nhập</button>
            </div>
        </div>
        <div class="icon">
            <p>--or login with--</p>
            <img src="assets/img/facebook.png" />
            <img src="assets/img/instagram.png" />

        </div>
    </div>
</div>
