<div class="nav">
    <div class="logo">
        <a routerLink="home"><img src="assets/img/logo.png"></a>

    </div>
    <div class="header__search">
        <div class="header__search__input">
            <input type="text" id="search" placeholder="Tìm kiếm" />
            <div class="header__search__input--key">
                <i class="fa fa-solid fa-keyboard"></i>
            </div>
            <div class="header__search__input--search">
                <a><i class="fa fa-solid fa-leaf"></i></a>
            </div>
        </div>

    </div>
    <div class="user">
        <a href="">Ngôn ngữ</a>
        <a routerLink="login">Đăng nhập</a>
    </div>
</div>