.header__search {
    width: 58rem;
    display: flex;
}
.header__search__input {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(198, 194, 194);
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgb(225, 218, 218);
    height: 2.7rem;
    margin: 1.75rem 0 0 0;
    border-radius: 0.8rem;
}
.header__search input {
    width: 50rem;
    height: 2.2rem;
    border: none;
    box-shadow: inset 0 1px -1px rgb(225, 218, 218);
    margin-top:0.2rem ;
    padding-left: 0.5rem;
    border-radius: 0.8rem;
}
.header__search__input--key {
    font-size: 20px;
    color:darkgray;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__search__input--search {
    font-size: 1.3rem;
    color: rgb(102, 102, 102);
    background-color: rgba(248,248,248,255);
    width: 4em;
    border-left: 1px solid rgb(198, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
