
<div class="main">
    <div class="main_slogan">
        <h1 style="margin-bottom:-2rem; ">DATE THE DREAM </h1>
        <h1>Make everything with love</h1>
        <p style="margin-bottom:-2rem;"><b>Nơi mang đến những loài cây tốt nhất</b></p>
        <p><b>Kiến tạo không gian xanh trong căn nhà của bạn</b></p>
    
    </div>
    <div class="main_menu">
        <div class="main_menu_box">
            <a routerLink="/product"><img src="assets/img/tinhnang.png" /></a>
            <a routerLink="/product"><p><b>Tất Cả Sản Phẩm</b></p></a>
        </div>
        <div class="main_menu_box">
            <a routerLink="/product"><img src="assets/img/sanpham.png" /></a>
            <a routerLink="/product"><p><b>Giảm Giá Ưu Đãi</b></p></a>
        </div>
        
        <div class="main_menu_box">
            <a routerLink="/product"><img src="assets/img/banggia.png" /></a>
            <a routerLink="/product"><p><b>Tìm Hiểu Về Cây</b></p></a>
        </div>
        <div class="main_menu_box">
            <a routerLink="/product"><img src="assets/img/lienhe.png" /></a>
            <a routerLink="/product"><p><b>Liên Hệ Chúng Tôi</b></p></a>
        </div>
    </div>
  
  </div>
  <div class="infomation">
    <div class="infomation_text">
        <h1>Chúng Tôi Mang Đến Những Lựa Chọn Tốt Nhất</h1>
        <p >
            Cùng biến không gian sống hay góc ban công thành một khu vườn nhỏ bằng những Concept Cây chậu khiến căn nhà trở nên xanh mát, thư thái, thu hút hơn và mang cá tính của bạn 
        </p>
    </div>
    <div class="information_item">
        <div class="infomation_item_box">
            <img src="assets/img/item1.png" />
            <p><b style="color:#0094ff">Cây nội thất</b> cho văn phòng, nhà cửa</p><p></p><p></p>
        </div>
        <div class="infomation_item_box">
            <img src="assets/img/item2.png" />
            <p><b style="color:#0094ff">Cây ngoài trời</b> cho ban công, sân vườn</p><p></p><p></p>
        </div>
        <div class="infomation_item_box">
            <img src="assets/img/item3.png" />
            <p><b style="color:#0094ff">cây để bàn</b> nhỏ gọn, xinh xắn</p>
        </div>
        <div class="infomation_item_box">
            <img src="assets/img/item4.png" />
            <p><b style="color:#0094ff">Tranh, tượng</b> đồ decor khác</p><p></p>
        </div>
    </div>
  </div>
  <div class="About">
    <div class="About_text">
        <div class="About_text_slogan">
            <h2 style="margin-bottom:0">Đội ngũ tư vấn khách hàng 24/7</h2>
            <p>Tư vấn, chăm sóc khách hàng nhiệt tình, chuyên nghiệp. Giúp bạn có được sự lựa chọn tốt nhất cho không gian gia đình mình</p>
        </div>
        <div class="About_text_img">
            <p><b>Chăm sóc khách hàng trên mạng xã hội</b></p>
            <div class="About_text_img-icon">
                <img src="assets/img/facebook.png" />
                <img src="assets/img/mess.png" />
                <img src="assets/img/instagram.png" />
                <img src="assets/img/chat.png" />
            </div>
        </div>
        <div class="About_text_img">
            <p><b>Tích hợp với các nền tảng thương mại điện tử</b></p>
            <div class="About_text_img-icon">
                <img style="width:8rem" src="assets/img/shoppe.png" />
                <img style="width:12rem" src="assets/img/toko.png" />
                
            </div>
        </div>
    </div>
    <div class="About_img">
        <img src="assets/img/tree2.jpg">
    </div>
  </div>
  
  <div class="Tool">
    <div class="Tool_slogan">
        <h1>Nói Về Date The Dream - Gadren</h1>
        <p>Cùng lạc vào khu vườn tuyệt đẹp với hàng trăm set Cây và đồ Decor. Với vô vàn lựa chọn đủ mọi phong cách, luôn cập nhật để dẫn đầu về Thẩm mỹ & Chất lượng, khu vườn làm hài lòng mọi tín đồ yêu thiên nhiên, yêu cái đẹp</p>
    </div>
    <div class="Tool_text">
        <p><b>Lorem ipsum dolor </b> sit amet consectetur </p>
        <p><b>Lorem ipsum dolor</b> sit amet consectetur</p>
        <p><b>Lorem ipsum dolor</b> sit amet consectetur</p>
    </div>
    <div class="Tool_img">
        <img src="assets/img/sale.png" />
    </div>
    <div class="Tool_text">
        <p><b>Lorem ipsum dolor</b> sit amet consectetur</p>
        <p><b>Lorem ipsum dolor</b> sit amet consectetur</p>
        <p><b>Lorem ipsum dolor</b> sit amet consectetur</p>
    </div>
  </div>
  <div class="box">
    <div class="box_download">
        <div class="box_download_icon"><i class="fa fa-solid fa-bars"></i></div>
        <div class="box_download_text"><b>Vô vàn ưu đãi với mức giá cực kì hấp dẫn! Xem ngay!</b></div>
        <div class="box_download_button"><button>Xem thêm</button></div>
    </div>
  </div>
  <div class="Us">
    <div class="Us_photo1">
        <img src="assets/img/tree3.jpg" />
    </div>
    <div class="Us_photo2">
        <img src="assets/img/tree1.jpg" />
    </div>
    <div class="Us_text">
        <h1>"</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, obcaecati mollitia dignissimos totam quasi sit quaerat possimus placeat, maiores odit quas dicta exercitationem accusantium maxime provident praesentium explicabo ea voluptatem?</p>
    </div>
  
  </div>