<div class="footer">
    <div class="footer_contact">
        <div class="footer_contact_box">
            <i class="fa fa-solid fa-map-pin"></i>
            <p><b>OUR MAIN OFFICE</b></p>
            <p>104B D6 Giảng Võ Street,Ha Noi</p>
        </div>
        <div class="footer_contact_box">
            <i class="fa fa-solid fa-phone"></i>
            <p><b>PHONE NUMBER</b></p>
            <p>(+84)123456789</p>
        </div>
        <div class="footer_contact_box">
            <i class="fa fa-solid fa-newspaper"></i>
            <p><b>Blog cây</b></p>
            <p>Tìm hiểu thêm</p>
        </div>
        <div class="footer_contact_box">
            <i class="fa fa-solid fa-envelope"></i>
            <p><b>EMAIL</b></p>
            <p>tunganhdng@gmail.com</p>
        </div>
    </div>
  
    <div class="footer_text">
        <div class="footer_text_left">
            
        </div>
        <div class="footer_text_right"></div>
    </div>
  </div> 