<div class="header">
    <img src="assets/img/img_product1.jpg">
    <img src="assets/img/img_product.jpg">
    
</div>

<div class="body">
    <div class="body_slogan">
        <h1 style="margin: 0 0 0 2rem;">Cây Hiện Có Tại Cửa Hàng</h1>
        <ul class="list">
            <li>
                <a>Tất cả sản phẩm</a>
            </li>
            <li>
                <a>Cây nội thất</a>
            </li>
            <li>
                <a>Cây để bàn</a>
            </li>
            <li>
                <a>Cây ngoài trời</a>
            </li>
            <li>
                <a>Giảm giá ưu đãi</a>
            </li>
        </ul>
    </div>
    <div class="body_product">
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="product">
            <div class="product_image">
                <a><img src="assets/img/tree1.jpg"></a>
            </div>
            <div class="product_name">
                <a><span>Cây Phát Tài Núi</span></a>
            </div>
            <div class="product_price">
                <a>
                    <p>449.000</p>
                </a>
                <a><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>

    </div>
    <!-- ** -->

    <div class="body_option">
        <div class="slogan_option">
            <h1>Lựa Chọn Chi Tiết</h1>
        </div>
        <div class="option">
            <div class=" option1">
                <a><img src="assets/img/tree2.jpg"></a>
                <p> Cây Văn Phòng</p>
            </div>
            <div class=" option2">
                <a><img src="assets/img/tree2.jpg"></a>
                <p> Cây Sân Vườn</p>
            </div>
            <div class=" option3">
                <a><img src="assets/img/tree2.jpg"></a>
                <p> Cây Phong Thủy</p>
            </div>
            <div class=" option4">
                <a><img src="assets/img/tree2.jpg"></a>
                <p> Cây Mini</p>
            </div>
        </div>
    </div>
</div>
